/* line 3, ../sass/style.scss */
.section {
  padding-top: 30px;
}

/* line 7, ../sass/style.scss */
#canvas_wrapper {
  margin-left: auto;
  margin-right: auto;
}

/* line 12, ../sass/style.scss */
#canvas_content {
  margin-left: auto;
  margin-right: auto;
}

/* line 17, ../sass/style.scss */
.loading {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 23, ../sass/style.scss */
.chart-section {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
/* line 26, ../sass/style.scss */
.chart-section canvas {
  margin-left: 30px;
}
/* line 29, ../sass/style.scss */
.chart-section p {
  width: 200px;
  margin-left: 30px;
  font-size: 22px;
}
/* line 34, ../sass/style.scss */
.chart-section th {
  padding: 6px;
  background-color: #eee;
  border: 1px solid #b9b9b9;
}
/* line 39, ../sass/style.scss */
.chart-section td {
  padding: 6px;
  background-color: #fff;
  border: 1px solid #b9b9b9;
}

/* line 46, ../sass/style.scss */
.login-section {
  background-color: #de6a0b;
  height: 100%;
}

/* line 51, ../sass/style.scss */
p {
  color: #666666;
}

/* line 55, ../sass/style.scss */
.banner-section {
  background-color: #de6a0b;
  min-height: 250px;
}
/* line 58, ../sass/style.scss */
.banner-section .login {
  color: #FFFFFF;
}
/* line 61, ../sass/style.scss */
.banner-section .man_link {
  color: #FFFFFF;
}
/* line 63, ../sass/style.scss */
.banner-section .man_link a {
  color: #FFFFFF;
}
/* line 66, ../sass/style.scss */
.banner-section .man_link a:hover {
  text-decoration: none;
}

/* line 73, ../sass/style.scss */
.man-section h2 {
  position: relative;
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #de6a0b;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 80, ../sass/style.scss */
.man-section h2::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
}
/* line 89, ../sass/style.scss */
.man-section h3 {
  padding-bottom: .5em;
  border-bottom: 1px solid #cccccc;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 95, ../sass/style.scss */
.man-section h4 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 100, ../sass/style.scss */
.man-section p {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 107, ../sass/style.scss */
#banner-text h1 {
  padding-top: 40px;
}
/* line 109, ../sass/style.scss */
#banner-text h1 a {
  color: #FFFFFF;
  font-size: 65px;
}
/* line 113, ../sass/style.scss */
#banner-text h1 a:hover {
  text-decoration: none;
}
/* line 117, ../sass/style.scss */
#banner-text p {
  color: #FFFFFF;
  font-size: 22px;
  margin-bottom: 30px;
}

/* line 125, ../sass/style.scss */
.feature-content #icon {
  width: 180px;
  height: 130px;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
/* line 132, ../sass/style.scss */
.feature-content #icon img {
  width: auto;
  height: auto;
  max-width: 80%;
}
/* line 138, ../sass/style.scss */
.feature-content .icon-img {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  -moz-transition-property: width, height;
  -o-transition-property: width, height;
  -webkit-transition-property: width, height;
  transition-property: width height;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 148, ../sass/style.scss */
.feature-content .icon-img.mouseover {
  width: 95%;
  height: 95%;
}
/* line 152, ../sass/style.scss */
.feature-content h5 {
  color: #de6a0b;
  font-size: 20px;
}
/* line 156, ../sass/style.scss */
.feature-content p {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 12px;
  text-align: left;
}

/* line 169, ../sass/style.scss */
.log-section .log-input-id {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
/* line 174, ../sass/style.scss */
.log-section .log-select-output {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
/* line 179, ../sass/style.scss */
.log-section h2 {
  text-align: center;
  color: #de6a0b;
}

/* line 220, ../sass/style.scss */
.ranking-section .rank-selector {
  text-align: center;
}
/* line 223, ../sass/style.scss */
.ranking-section .rank_award {
  vertical-align: middle;
}
/* line 225, ../sass/style.scss */
.ranking-section .rank_award .rank_1st {
  background-color: #de6a0b;
  padding-left: 120px;
  margin-bottom: 20px;
  opacity: 0;
  -moz-transition-property: opacity, padding-left;
  -o-transition-property: opacity, padding-left;
  -webkit-transition-property: opacity, padding-left;
  transition-property: opacity, padding-left;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 186, ../sass/style.scss */
.ranking-section .rank_award .rank_1st table {
  width: 100%;
}
/* line 188, ../sass/style.scss */
.ranking-section .rank_award .rank_1st table .rank_img {
  padding: 10px;
  width: 15%;
}
/* line 192, ../sass/style.scss */
.ranking-section .rank_award .rank_1st table .rank_worker_id {
  padding: 10px;
  color: #FFFFFF;
  width: 20%;
  text-align: left;
  font-size: 30px;
  vertical-align: middle;
}
/* line 200, ../sass/style.scss */
.ranking-section .rank_award .rank_1st table .rank_result {
  padding: 10px;
  color: #FFFFFF;
  width: 35%;
  text-align: right;
  font-size: 30px;
  vertical-align: middle;
}
/* line 208, ../sass/style.scss */
.ranking-section .rank_award .rank_1st table .rank_units {
  padding: 10px;
  color: #FFFFFF;
  width: 30%;
  text-align: left;
  font-size: 30px;
  vertical-align: middle;
}
/* line 235, ../sass/style.scss */
.ranking-section .rank_award .rank_1st.on {
  padding-left: 10px;
  opacity: 1;
}
/* line 239, ../sass/style.scss */
.ranking-section .rank_award .rank_2nd {
  background-color: #de8842;
  padding-left: 120px;
  margin-bottom: 20px;
  opacity: 0;
  -moz-transition-property: opacity, padding-left;
  -o-transition-property: opacity, padding-left;
  -webkit-transition-property: opacity, padding-left;
  transition-property: opacity, padding-left;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 186, ../sass/style.scss */
.ranking-section .rank_award .rank_2nd table {
  width: 100%;
}
/* line 188, ../sass/style.scss */
.ranking-section .rank_award .rank_2nd table .rank_img {
  padding: 10px;
  width: 15%;
}
/* line 192, ../sass/style.scss */
.ranking-section .rank_award .rank_2nd table .rank_worker_id {
  padding: 10px;
  color: #FFFFFF;
  width: 20%;
  text-align: left;
  font-size: 25px;
  vertical-align: middle;
}
/* line 200, ../sass/style.scss */
.ranking-section .rank_award .rank_2nd table .rank_result {
  padding: 10px;
  color: #FFFFFF;
  width: 35%;
  text-align: right;
  font-size: 25px;
  vertical-align: middle;
}
/* line 208, ../sass/style.scss */
.ranking-section .rank_award .rank_2nd table .rank_units {
  padding: 10px;
  color: #FFFFFF;
  width: 30%;
  text-align: left;
  font-size: 25px;
  vertical-align: middle;
}
/* line 250, ../sass/style.scss */
.ranking-section .rank_award .rank_2nd.on {
  opacity: 1;
  padding-left: 10px;
}
/* line 254, ../sass/style.scss */
.ranking-section .rank_award .rank_3rd {
  background-color: #deab81;
  padding-left: 120px;
  margin-bottom: 20px;
  opacity: 0;
  -moz-transition-property: opacity, padding-left;
  -o-transition-property: opacity, padding-left;
  -webkit-transition-property: opacity, padding-left;
  transition-property: opacity, padding-left;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 186, ../sass/style.scss */
.ranking-section .rank_award .rank_3rd table {
  width: 100%;
}
/* line 188, ../sass/style.scss */
.ranking-section .rank_award .rank_3rd table .rank_img {
  padding: 10px;
  width: 15%;
}
/* line 192, ../sass/style.scss */
.ranking-section .rank_award .rank_3rd table .rank_worker_id {
  padding: 10px;
  color: #FFFFFF;
  width: 20%;
  text-align: left;
  font-size: 20px;
  vertical-align: middle;
}
/* line 200, ../sass/style.scss */
.ranking-section .rank_award .rank_3rd table .rank_result {
  padding: 10px;
  color: #FFFFFF;
  width: 35%;
  text-align: right;
  font-size: 20px;
  vertical-align: middle;
}
/* line 208, ../sass/style.scss */
.ranking-section .rank_award .rank_3rd table .rank_units {
  padding: 10px;
  color: #FFFFFF;
  width: 30%;
  text-align: left;
  font-size: 20px;
  vertical-align: middle;
}
/* line 265, ../sass/style.scss */
.ranking-section .rank_award .rank_3rd.on {
  opacity: 1;
  padding-left: 10px;
}
/* line 270, ../sass/style.scss */
.ranking-section .rank_graph {
  top: 30px;
}
/* line 272, ../sass/style.scss */
.ranking-section .rank_graph .canvas {
  opacity: 0;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 186, ../sass/style.scss */
.ranking-section .rank_graph .canvas table {
  width: 100%;
}
/* line 188, ../sass/style.scss */
.ranking-section .rank_graph .canvas table .rank_img {
  padding: 10px;
  width: 15%;
}
/* line 192, ../sass/style.scss */
.ranking-section .rank_graph .canvas table .rank_worker_id {
  padding: 10px;
  color: #FFFFFF;
  width: 20%;
  text-align: left;
  font-size: 20px;
  vertical-align: middle;
}
/* line 200, ../sass/style.scss */
.ranking-section .rank_graph .canvas table .rank_result {
  padding: 10px;
  color: #FFFFFF;
  width: 35%;
  text-align: right;
  font-size: 20px;
  vertical-align: middle;
}
/* line 208, ../sass/style.scss */
.ranking-section .rank_graph .canvas table .rank_units {
  padding: 10px;
  color: #FFFFFF;
  width: 30%;
  text-align: left;
  font-size: 20px;
  vertical-align: middle;
}
/* line 279, ../sass/style.scss */
.ranking-section .rank_graph .canvas.on {
  opacity: 1;
}
