<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='external/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='external/js/jquery.oncssanimationend.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='external/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        {% include 'banner.html' %}
        <section class="features section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 text-center col-md-offset-1">
                        <div class="feature-content">
                            <div id="icon">
                                <div class="icon-img">
                                    <a href="log.html">
                                        <img src="{{url_for('static', filename='images/log_icon.png')}}">
                                    </a>
                                </div>
                            </div>
                            <h5>作業ログの確認</h5>
                            <p>
                                1日の作業ログを確認しませんか？<br>
                                作業ログを確認して、Frameworxでのあなたの作業を振り返ってみましょう。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center col-md-offset-2">
                        <div class="feature-content">
                            <div id="icon">
                                <div class="icon-img">
                                    <a href="ranking.html">
                                        <img src="{{url_for('static', filename='images/ranking_icon.png')}}">
                                    </a>
                                </div>
                            </div>
                            <h5>ランキング</h5>
                            <p>
                                あなたの作業ログと、他のFrameworxで働く方の作業ログを比べることができます。<br>
                                Frameworx内で1位を目指しましょう。
                                そして、めざせ夢の四冠王！<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

