<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/personal.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='external/js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='external/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        {% include 'banner.html' %}
        <section class="log-section section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 log-bg">
                        <form id="get">
                            <div class="form-group">
                                <div class="input-group input-group-lg log-input-id">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" id="display_log_btn" type="button">Log</button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" id="display_summary_btn" type="button">Summary</button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" id="display_map_btn" type="button">Map</button>
                                    </span>
                                </div>
                                <div class="btn-group log-select-output" data-toggle="buttons-radio" role="group" aria-label="...">
                                     <button type="button" id="カロリーボタン" class="btn btn-default active" aria-pressed="true">カロリー消費量</button>
                                     <button type="button" id="歩数ボタン" class="btn btn-default active" aria-pressed="true">歩数</button>
                                     <button type="button" id="脈拍ボタン" class="btn btn-default" aria-pressed="false">脈拍</button>
                                     <button type="button" id="商品数ボタン" class="btn btn-default active" aria-pressed="true">商品数</button>
                                     <button type="button" id="距離ボタン" class="btn btn-default active" aria-pressed="true">距離</button>
                                     <button type="button" id="気温ボタン" class="btn btn-default" aria-pressed="false">気温</button>
                                     <button type="button" id="湿度ボタン" class="btn btn-default" aria-pressed="false">湿度</button>
                                 </div>
                            </div>
                        </form>
                        <div class="loading" id="loading">
                            <img src="{{url_for('static', filename='images/ajax-loader.gif')}}">
                        </div>
                        <div class="canvas" id="canvas_content">
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </body>
</html>

