<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='external/js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='external/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
         <title>Login</title>
    </head>
    <body>
        {% include 'banner.html' %}
        <section class="login-section section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 log-bg">
                        <form method="POST">
                            <div class="form-group">
                                <div class="input-group input-group-lg log-input-id">
                                    <span class="input-group-addon" id="basic-addon1">👤</span>
                                    <input type="text" class="form-control" id="condition-value" name="workerId" placeholder="IDを入力してください。" area-describedby="basic-addon1">
                                    <span class="input-group-btn">
                                        <input type="submit" class="btn btn-default" id="display_log_btn">
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>

