<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='external/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='external/js/jquery.oncssanimationend.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='external/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <section class="banner-section" role="banner">
            <div class="container">
                <div class="col-md-10 col-md-offset-1">
                    <div class="text-center" id="banner-text">
                        <h1><a href="index.html">MyWorx</a></h1>
                        <p>カロリー消費量を確認しよう！</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="man-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h2>MyWrox 利用ガイド</h2>
                        <h3>はじめに</h3>
                        <p>このページでは、MyWorxの使い方について説明します。</p>
                        <h3>MyWorxを使ってできること</h3>
                        <p>Frameworxでの活動記録を閲覧したり、Frameworx内での各種活動のランキングを確認できます。</p>
                        <h4>ログ表示</h4>
                        <p></p>
                        <h4>ランキング表示</h4>
                        <p></p>
                        <h3>問い合わせ先</h3>
                        <p>不具合やご不明な点がありましたら、以下からお問い合わせください。</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

