<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/rank.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='external/js/jquery.oncssanimationend.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='external/js/bootstrap.min.js') }}"></script>
         <link rel="stylesheet" 	href="{{ url_for('static', filename='external/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        {% include 'banner.html' %}
        <div id="rankingtable" style="visibility: hidden">
            <section class="ranking-section section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 unranked">
                            <table class="table">
                                <tr>
                                    <td></td>
                                    <td>従業員ID</td>
                                    <td id="result"></td>
                                </tr>
                                <tr class="rank_1st">
                                    <td><img
                                        src="{{ url_for('static', filename='images/rank01_01.png') }}"
                                        width="40" height="40" alt="1位" /></td>
                                    <td id="employee1"></td>
                                    <td id="result1"></td>
                                </tr>
                                <tr class="rank_2nd">
                                    <td><img
                                        src="{{ url_for('static', filename='images/rank01_02.png') }}"
                                        width="40" height="40" alt="2位" /></td>
                                    <td id="employee2"></td>
                                    <td id="result2"></td>
                                </tr>
                                <tr class="rank_3rd">
                                    <td><img
                                        src="{{ url_for('static', filename='images/rank01_03.png') }}"
                                        width="40" height="40" alt="3位" /></td>
                                    <td id="employee3"></td>
                                    <td id="result3"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
	<section class="log-section section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 log-bg">
					<form id="rank">
						<div class="form-group">
							<div class="input-group ">
								<span class="input-group-addon" id="basic-addon-rank">👤</span>
								<input type="text" class="form-control" name="workerId"
									placeholder="IDを入力してください。" area-describedby="basic-addon1">
								<span class="input-group-btn">
									<button class="btn btn-default" id="display-ranking-btn"
										type="button">show</button>
								</span>
							</div>
							<br>
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default active"><input
									type="radio" id="item-radio" name="rank-data" value="item"
									autocomplete="off" checked>ピッキング商品数</label> <label
									class="btn btn-default"><input type="radio"
									id="calorie-radio" name="rank-data" value="calorie"
									autocomplete="off">消費カロリー</label> <label
									class="btn btn-default"><input type="radio"
									id="step-radio" name="rank-data" value="step"
									autocomplete="off">歩数</label> <label class="btn btn-default"><input
									type="radio" id="distance-radio" name="rank-data"
									value="distance" autocomplete="off">従業員移動距離</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<div id="rankingtable" style="visibility: hidden">
		<section class="ranking-section section">
			<div class="text-center">
			<p  class="text-danger" style="display:inline;" ><font id="your-rank" size="7">あなたの順位は*位です</font></p><br>
			<p  class="text-danger" style="display:inline;" ><font id="difference" size="7">トップとの差は*です</font></p><br>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 unranked">
						<table class="table">
							<tr>
								<td></td>
								<td>従業員ID</td>
								<td id="result"></td>
							</tr>
							<tr class="rank_1st">
								<td><img
									src="{{ url_for('static', filename='images/rank01_01.png') }}"
									width="40" height="40" alt="1位" /></td>
								<td id="employee1"></td>
								<td id="result1"></td>
							</tr>
							<tr class="rank_2nd">
								<td><img
									src="{{ url_for('static', filename='images/rank01_02.png') }}"
									width="40" height="40" alt="2位" /></td>
								<td id="employee2"></td>
								<td id="result2"></td>
							</tr>
							<tr class="rank_3rd">
								<td><img
									src="{{ url_for('static', filename='images/rank01_03.png') }}"
									width="40" height="40" alt="3位" /></td>
								<td id="employee3"></td>
								<td id="result3"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="canvas" id="canvas_wrapper">
		<canvas id="rankingCanvas" width="300" height="250"></canvas>
	</div>
</body>
</html>
